*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: aquamarine;
}

.contenitore{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colonna{
    margin: 5px;
    display: flex;
    align-items: center;
}

.logo{
    margin: 5px;
}

.link{
    margin: 5px;
    padding: 7px;
    text-decoration: none;
}

.inizia{
    cursor: pointer;
    padding: 10px;
    margin: 7px;
    background-color: #0061ff;
    width: 80px;
    color: white;
    border-color: #0061ff;
}

main{
    margin-top: 80px;
}
